@media (max-width: 767px){

.img-container{
margin-top: -2rem!important;
}
.img-wrapper{
max-width: 55vw!important;
max-height: 50vh!important;
}
.horizontalImg {
max-width: 50vw!important;
max-height: 50vh!important;
}
.one{
transform: translateX(3.5rem)!important;
}
.two{
transform: translateX(-4.8rem)!important;
}
.three{
transform: translateX(-2.3rem)!important;
}
.four{
transform: translateX(-3.7rem)!important;
}
.five{
transform: translateX(-1rem)!important;
}
.six{
transform: translateX(5rem)!important;
}

}
/*Html&Body*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--color:#7B667F;
--second-color:#b274a8;
--text-color:#393833;
--bkg-color: #16161d;
--wallpaper-color: #3e5366;
--primary-color: white;
--secondary-text: #8898a6;
--border-color: #38444d;
--pfp-border: 4px;
--classic-blue: 29, 161, 241;
--accent-color-rgb: var(--classic-blue);
--accent-color: rgb(var(--accent-color-rgb))
}
html{
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
scrollbar-width: none;
-ms-overflow-style: none;
}
::-webkit-scrollbar {
width: 1px;
height: 1px;
}
::-webkit-scrollbar-button {
width: 3px;
height: 3px;
}
body{
background-color: var(--color);
}
/*Intro*/
.intro{
display: grid;
place-items: center;
}
.opening{
width: 100vw;
height: 100dvh;
position: relative;
}
.surprise{
width: 30vw;
height: 35vw;
position: absolute;
bottom: 0;
}
.left{
opacity: 0;
left: -200px;
}
.right{
opacity: 0;
right: -200px;
}
.rising-uki{
display: grid;
place-items: center;
}
.rise{
position: absolute;
bottom:-100vh;
opacity: 0;
max-width: 100vw;
}
.minimize-logo{
width: 15%;
border-radius: 50%;
border: 1px solid var(--bkg-color);
box-shadow: 0px 8px 70px 10px rgba(159,26,207,0.71);
-webkit-box-shadow: 0px 8px 70px 10px rgba(159,26,207,0.71);
-moz-box-shadow: 0px 8px 70px 10px rgba(159,26,207,0.71);
background-image: url(https://ik.imagekit.io/4bkho8jgt/icon_popw-O2de.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669684716760);
background-size: cover;
background-repeat: no-repeat;
position: absolute;
pointer-events: none;
left: 50%;
transform: translateX(-50%);
top:-40px;
opacity: 0;
}
.minimize-logo::after{
content: "";
padding-bottom: 100%;
display: block;
}
.title {
text-align: center;
font-size:6vw;
letter-spacing: 5px;
color: var(--text-color);
overflow: hidden;
font-family: 'Titan One', cursive;
position: relative;
bottom: 12rem;
opacity: 0;
}
.scroll-down{
width: 50px;
height: 50px;
border-radius: 100%;
border:  2px solid #393833;
font-size: 35px;
overflow: hidden; 
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;
opacity: 0;
}
.scroll-down-icon{
color: white;
animation: scrollDown 2s ease infinite;
}
/*Gallery*/
.gallery{
position: relative;
display: grid;
place-items: center;
opacity: 0;
transition: 0.8s ease-in-out;
}
.gallery h1{
position: relative;
top:-6vh;
opacity: 0;
font-size: 2em;
color: var(--text-color);
font-family: 'Titan One', cursive;
}
.img-container{
height: 500vh;
width: 80vw;
display: grid;
place-items: center;
margin-top: 20rem;
background: rgba(255,255,255,0.65);
-webkit-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
-moz-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border-radius: 30px;
opacity: 1;
z-index: 999;
}
.img-wrapper{
max-width: 55vw;
max-height: 50vh;
position: flex;
border-radius: 20px;
opacity: 0;
}
.img-wrapper .image-link {
overflow: hidden;
display: block;
padding: 3vw ;
background: #efecdb;
-webkit-box-shadow: 0 10px 50px #5f2f1182;
-moz-box-shadow: 0 10px 50px #5f2f1182;
box-shadow: 0 10px 50px #5f2f1182;
border-radius: 10px;
}
.horizontalImg {
max-width: 30vw;
max-height: 30vh;
vertical-align: top;
border-radius: 10px;
}
.one{
transform: translateX(-18rem);
}
.two{
transform: translateX(8rem)
}
.three{
transform: translateX(-16rem)
}
.four{
transform: translateX(18rem)
}
.five{
transform: translateX(-6rem)
}
.six{
transform: translateX(-12rem)
}
.bb1{
-webkit-box-shadow: 0 10px 50px #e59001;
-moz-box-shadow: 0 10px 50px #e59001;
box-shadow: 0 10px 50px #e59001;
}
.bb2{
-webkit-box-shadow: 0 10px 50px #0f0923;
-moz-box-shadow: 0 10px 50px #0f0923;
box-shadow: 0 10px 50px #0f0923;
}
.bb3{
-webkit-box-shadow: 0 10px 50px #62d2fa;
-moz-box-shadow: 0 10px 50px #62d2fa;
box-shadow: 0 10px 50px #62d2fa;
}
.bb4{
-webkit-box-shadow: 0 10px 50px #00c7f1;
-moz-box-shadow: 0 10px 50px #00c7f1;
box-shadow: 0 10px 50px #00c7f1;
}
.bb5{
-webkit-box-shadow: 0 10px 50px #329f8c;
-moz-box-shadow: 0 10px 50px #329f8c;
box-shadow: 0 10px 50px #329f8c;
}
.bb6{
-webkit-box-shadow: 0 10px 50px #16e3ff;
-moz-box-shadow: 0 10px 50px #16e3ff;
box-shadow: 0 10px 50px #16e3ff;
}
.bb7{
-webkit-box-shadow: 0 10px 50px #b1df97;
-moz-box-shadow: 0 10px 50px #b1df97;
box-shadow: 0 10px 50px #b1df97;
}
.bb8{
-webkit-box-shadow: 0 10px 50px white;
-moz-box-shadow: 0 10px 50px white;
box-shadow: 0 10px 50px white;
}
.bb9{
-webkit-box-shadow: 0 10px 50px #113356;
-moz-box-shadow: 0 10px 50px #113356;
box-shadow: 0 10px 50px #113356;
}
.bb10{
-webkit-box-shadow: 0 10px 50px #84f6ff;
-moz-box-shadow: 0 10px 50px #84f6ff;
box-shadow: 0 10px 50px #84f6ff;
}
.bb11{
-webkit-box-shadow: 0 10px 50px #7b496c;
-moz-box-shadow: 0 10px 50px #7b496c;
box-shadow: 0 10px 50px #7b496c;
}
.bb12{
-webkit-box-shadow: 0 10px 50px #58527e;
-moz-box-shadow: 0 10px 50px #58527e;
box-shadow: 0 10px 50px #58527e;
}
.bb13{
-webkit-box-shadow: 0 10px 50px #341946;
-moz-box-shadow: 0 10px 50px #341946;
box-shadow: 0 10px 50px #341946;
}
.bb14{
-webkit-box-shadow: 0 10px 50px #84f7d0;
-moz-box-shadow: 0 10px 50px #84f7d0;
box-shadow: 0 10px 50px #84f7d0;
}
.img-wrapper.special{
box-shadow: 0 0 200px 100px var(--primary-color);
}
/*Bubbles*/
div[class^=bubble-] {
height: 1px;
width: 1px;
position: absolute;
background-color: rgba(0, 141, 210, 0.3);
border-radius: 50%;
transform: translateX(-100%);
}
div[class^=bubble-]:after {
content: "";
position: absolute;
height: 85%;
width: 85%;
border-top: 3px solid rgba(255, 255, 255, 0.82);
border-bottom: 1.5px solid rgba(255, 255, 255, 0.63);
border-radius: 50%;
left: 50%;
top: 50%;
transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}
.bubble-1 {
bottom: -50%;
left: 12%;
-webkit-animation: bubble-movement 6.5s ease-in -0.25s;
animation: bubble-movement 6.5s ease-in -0.25s;
}
.bubble-2 {
bottom: -50%;
left: 52%;
-webkit-animation: bubble-movement 6.5s ease-in -1.6s;
animation: bubble-movement 6.5s ease-in -1.6s;
}
.bubble-3 {
bottom: -50%;
left: 78%;
-webkit-animation: bubble-movement 6.5s ease-in -2.6s;
animation: bubble-movement 6.5s ease-in -2.6s;
}
.bubble-4 {
bottom: -50%;
left: 15%;
-webkit-animation: bubble-movement 6.5s ease-in -2.28s;
animation: bubble-movement 6.5s ease-in -2.28s;
}
.bubble-5 {
bottom: -50%;
left: 19%;
-webkit-animation: bubble-movement 6.5s ease-in -1.54s;
animation: bubble-movement 6.5s ease-in -1.54s;
}
.bubble-6 {
bottom: -50%;
left: 33%;
-webkit-animation: bubble-movement 6.5s ease-in -0.96s;
animation: bubble-movement 6.5s ease-in -0.96s;
}

/*Twitter*/
.twitter{
margin-top: 30vh;
height: 150vh;
width: 100vw;
display: flex;
align-items: top;
justify-content: center;
overflow: hidden;
font-family: 'Ubuntu', sans-serif;
}
.icon-button {
height: 3.6rem;
width: 3.6rem;
background-color: white;
border-radius: 50%;
cursor: pointer;
font-size: 2.0rem;
position: absolute;
text-align: center;
z-index: 1;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
opacity: 1;
}
.icon-button span {
border-radius: 0;
display: block;
height: 0;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
width: 0;
}
.icon-button:hover span {
width: 3.6rem;
height: 3.6rem;
border-radius: 3.6rem;
margin: -1.8rem;
}
.icon-button.expand{
opacity: 0.8;
transition: 0.5s ease-in-out;
bottom: 100px;
}
.Tbackground-collor {
background-color: #4099ff;
}
.icon-button .Icon {
background: none;
color: #4099ff;
height: 3.6rem;
left: 10px;
line-height: 3.6rem;
position: absolute;
top: 0;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
width: 2.6rem;
z-index: 10;
}
.icon-button .icon-twitter {
color: #4099ff;
}
.icon-button:hover .icon-twitter {
color: white;
}
.icon-button:hover .Icon {
color: white;
}
.twitter{
width: 100vw;
height: 150vh;
}
.twittercard.expand{
height: 150vh;
width: 100vw;
background: rgba(57,56,51,0.9);
-webkit-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
-moz-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
backdrop-filter: blur(7.3px);
border-radius: 20px;
display: grid;
place-items: center;
grid-template-columns: repeat(2 1fr);

overflow: hidden;
}
.twitter-content {
opacity: 0;
}
.twittercard.expand .twitter-content{
width: 100vw;
border: 3px solid var(--border-color);	
border-radius: 2vh;
background-color: #38444d;
opacity: 1;
font-size: 1.5vh;
font-family: 'M PLUS 1', sans-serif;
transition: 7s ease-in-out;
}
.twitter-header {
font-size: 18px;
font-weight: 800;
color: var(--primary-color);
}
.twitter-secondary {
color: var(--secondary-text);
}
.twitter-subtext {
font-size: 14px;
color: var(--secondary-text);
margin-top: 3px;
}
.twitter-a {
color: var(--accent-color);
text-decoration: none;
}
.twitter-navigation {
display: grid;
grid-template: auto auto / 60px auto;
padding: 8px;
}
.twitter-arrow_back {
grid-row: 1/3;
align-self: center;
margin-left: 10px;
position: relative;
}
.twitter-arrow_back > svg {
fill: var(--accent-color);
width: 25px;
}
.twitter-wallpaper-one {
width: 100vw;
height: auto;
overflow: hidden;
border-radius: 15px;
}
.twitter-wallpaper-two {
width: 100vw;
height: auto;
overflow: hidden;
border-radius: 15px;
}
.twitter-pre-bio {
display: flex;
justify-content: flex-end;
position: relative;
padding-bottom: 12px;
}
.twitter-pfp {
background-color: salmon;
width: calc(130px - 2 * var(--pfp-border));
height: calc(130px - 2 * var(--pfp-border));
position: absolute;
bottom: 0%;
left: 0%;
border-radius: 50%;
border: 2px solid var(--bkg-color);
background-image: url("https://ik.imagekit.io/4bkho8jgt/icon_8DwqkXqds.png?ik-sdk-version=javascript-1.4.3&updatedAt=1667555877177");
background-size: cover;
cursor: pointer;
}
.twitter-pfp-two{
background-color: salmon;
width: calc(130px - 2 * var(--pfp-border));
height: calc(130px - 2 * var(--pfp-border));
position: absolute;
bottom: 0%;
left: 0%;
border-radius: 50%;
border: 2px solid var(--bkg-color);
background-image: url("https://ik.imagekit.io/4bkho8jgt/profile_dLXI0ntzx.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1668391976830");
background-size: cover;
cursor: pointer;
}
.twitter-pfp-two:hover:after {
content: "";
background-color: var(--bkg-color);
width: 100vw;
height: 100vh;
border-radius: 50%;
position: absolute;
opacity: 0.1;
}
.twitter-btn {
font-weight: 600;
border: 1px solid var(--accent-color);
color: var(--accent-color);
padding: 12px 20px;
border-radius: 99999px;
cursor: pointer;
background-color: rgba(var(--accent-color-rgb), 0);
transition: background-color 0.2s;
}
.twitter-btn:hover {
background-color: rgba(var(--accent-color-rgb), 0.1);
}
.twitter-bio {
padding: 15px;
padding-bottom: 0px;
}
.twitter-bio > div {
margin-bottom: 12px;
color: var(--primary-color);
}
.twitter-tabs-one {
display: flex;
align-items: stretch;
font-weight: 700;
color: var(--secondary-text);
}
.twitter-tabs-one > div {
flex-grow: 1;
text-align: center;
padding: 18px;
position: relative;
cursor: pointer;
transition: all 0.2s;
background-color: rgba(var(--accent-color-rbg), 0);
}
.twitter-tabs-one > div:hover {
color: var(--accent-color);
background-color: rgba(var(--accent-color-rgb), 0.1);
}
.twitter-selected {
color: var(--accent-color);
}
.twitter-controls {
margin: auto;
border: 1px solid var(--border-color);
width: 600px;
margin-bottom: 150px;
padding: 10px;
}
.twitter-button {
padding: 10px;
}
/*Youtube*/
.youtube{
opacity: 0;
margin-top: 10vh;
height: 100vh;
width: 100vw;
display: grid;
grid-template-rows: auto 1fr ;
font-family: 'Ubuntu', sans-serif;
}
.yt-title{
width: 100vw;
height: 10vh;
display: grid;
place-items: center;
font-size: 30px;
background-color: white;
border-top-right-radius:20px ;
border-top-left-radius:20px ;

}
.yt-title h1{
position: absolute;
color: var(--bkg-color);
justify-self: center;
}
.yt-logo{
color: red;
font-size: 2rem;
position: relative;
left: -9rem;
transition: 2s; 
}
.playlist{
background-size: cover;
width: 30vw;
height: 16vw;
border-radius: 10px;
margin-top: 30px;
margin-bottom: 30px;
position: relative;
border: 2.5px solid var(--color);
opacity: 1;
}
.playlist-one{
background-image: url(https://ik.imagekit.io/4bkho8jgt/thumbnail_C7wBcNtch.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1673613132883);
}
.playlist-two{
background-image: url(https://ik.imagekit.io/4bkho8jgt/thumbnail_3_oS2VOYFLR.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1673613132027)
}
.playlist-three{
background-image: url(https://ik.imagekit.io/4bkho8jgt/thumbnail_2_oMs7vittz.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1673613132060);
}
.playlist-four{
background-image: url(https://ik.imagekit.io/4bkho8jgt/3_QgISd1V2j.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1666837902325);
}
.playlist-five{
background-image: url(https://ik.imagekit.io/4bkho8jgt/8_LxuVl59sLH.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1666837902299);
}
.playlist-six{
background-image: url(https://ik.imagekit.io/4bkho8jgt/yt__1__4AHi_Vvj2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1666837983941);
}
.yt-background{
width: 100vw;
height: 90vh;
background: rgba(255,255,255,0.65);
transition: 0.8s ease-out;
}
.yt-playlist{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}
.original-song{
height: 50vh;
margin: auto;
width: 90vw;
background-color: var(--bkg-color);
place-self: center;
border-radius: 20px;
}
.song-play{
font-size: 8vw;
color: white;
cursor: pointer;
position: relative;
top: 45%;
left: 48%;
}
/*Info*/
.info-container{
    background-color: transparent;
    width: auto;
    height: 100vh;
    font-size: 100%;
}
.info-card{
    width: auto;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 20vh;
}
.emoji{
    position: absolute;
}
.soap-background{
    width:80vw;
    height:100vh;
    border-radius: 20px;
    background: rgba(255,255,255,0.65);
    -webkit-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    border: 2px solid white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
}
.info-text{
    position: absolute;
    margin-left: 20px;
    top: 0;
    padding: 0 20px;
    color: var(--color);
    font-family: 'tetsubin-gothic', sans-serif;
    font-weight: bolder;
}
.info-introduction{
    font-size: 2em;
    position: relative;
}
.info-content{
    font-size:1.5vh;
    font-weight: 600;
    margin: 1.3vh;
}
.name,.Activities,.Tag{
    font-size: 1em;
}
.info-section-1{
    margin-bottom: 5vh;
}

/*Animations*/
@keyframes move {
0% { transform: rotate(0deg)}
25%{transform: rotate(-3deg)}
50%{transform: rotate(3deg)}
100%{transform: rotate(0deg)}
}
@keyframes bubble-movement {
0% {
transform: translate3d(-50%, 200vh, 0);
height: 1px;
width: 1px;
}
100% {
transform: translate3d(-50%, -200vh, 0);
height: 75px;
width: 75px;
}
}
@keyframes float {
0% {     
-webkit-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
transform: translatey(0px) translatex(-2px);
}
50% {
-webkit-box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
transform: translatey(-6px) translatex(-5px);
}
100% {
-webkit-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
transform: translatey(0px) translatex(-2px);
}
}
@keyframes scrollDown{
0%{
transform: translateY(-15px);
opacity: 0;
}
45%{
transform: translateY(0px);
opacity: 1;
}
65%{
transform: translateY(-5px);
opacity: 1;
}
100%{
transform: translateY(15px);
opacity: 0;
}
}
/*End&Misc*/
.hidden{
opacity: 0;
transition: 1.3s ease-in-out;
}
.show{
opacity: 1;
transition: 1.3s ease-in-out;
}
.selected{
cursor: pointer!important;
}
.unscrollable{
margin: 0;
height: 100%;
overflow: hidden;
}
.overflow{
overflow: hidden;
}