@font-face {
    font-family: '07TetsubinGothic';
    src: url('07TetsubinGothic.woff2') format('woff2'),
        url('07TetsubinGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

